@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans+JP:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Sigmar&family=Suez+One&display=swap');

* {
  margin-left: 0px;
  margin-right: 0px;
}

.logo{
  width: 45%;
  height: 45%;
  min-width: 300px;
  min-height: 70px;
  padding-top: 10px;
  padding-left: 20px;
}

header
{
     display: flex;
     justify-content: space-between; /* laisse un espace */
     align-items: center; /* alignement vertical au centre */
     font-family: "Red Hat Display", sans-serif;
}

nav ul 
{
    list-style-type: none; /* retire le rond de la liste à puce */
    display: flex;
    margin: 0px;
    color: #545454;
    font-size: 14px;
}

nav li
{
    width: 150px;
}

.container{
  font-family: "Noto Sans JP", sans-serif;
}

.homepage{
    text-align: center;
    align-items: center; /* alignement vertical au centre */
  }

.main-banner {
  position: relative;
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.9); /* Couleur de fond noire avec une opacité de 0.8 */
  margin-bottom: 20px
}

.banner-competencies {
  position: relative;
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.9); /* Couleur de fond noire avec une opacité de 0.8 */
  margin-bottom: 20px
}
  
.main-banner .accroche {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Couleur du texte */
  text-align: center; /* Centrage horizontal du texte */
}

.accroche{
  font-size: 44px;
  font-family: "Suez one", sans-serif;
}

h2{
  color: #024a7a;
  font-size: 34px;
}

h3{
  color: #545454;
  padding: 5px;
  font-size: 22px;
}

.competence {
  display: flex; /* Utilisation de flexbox */
  flex-direction: row;
  justify-content: center; /* Répartit les éléments avec un espacement égal autour d'eux */
  align-items: center; /* Centre les éléments verticalement */
}

.reverse{
  flex-direction: row-reverse;
}

.bloc-titre-competence{
  width: 20%;
  margin-left: 10px
}

.bloc-description-competence{
  width: 40%;
  margin-right: 10px;
  padding: 20px;
}

.icone-etape{
  font-size: 28px;
  color: #0079c9;
  margin-right: 10px;
}

.icone-engagement{
  font-size: 28px;
  color: #0079c9;
  margin-right: 10px;
}

.div-about{
  margin: 50px;
}

.about{
  text-align: center;
}

.description{
  font-size: 18px;
  margin-left: 50px;
  margin-right: 50px;
}

.avis-clients{
  text-align: center;
  color: #024a7a;
}

.titre-avis{
  font-size: 20px;
  margin-left: 15px;
}

.contenu-avis{
  font-size: 14px;
  margin-left: 15px;
}

.container-about{
  text-align:center ;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.form-container h2 {
  text-align: center;
}

.form-container .form-group {
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-container textarea {
  height: 150px; /* Hauteur personnalisée pour le champ "Message" */
}

.form-container button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}


footer{
  background-color: black;
  color: white;
  text-align: center;
  justify-content: center;
  padding: 30px;
  font-family: "Red Hat Display", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}